*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
} 

 div{
    height: 50vmin;
  } 


   #google{
     padding:  12px 100px ;
     width: 250px;
     border: none;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     border-radius: 20px;
     font-size: 17px;
     text-align: left;
     padding-left: 18px;
     padding-right: 300px;
   }