*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
} 


  #div{
    height: 50vmin;
  } 


#search{   
    padding:  14px 14px ;
    font-size: large;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 8px;
    border-width: 1px;
}