 
  *{
    margin: 0;
    padding: 0;
  }

  .arial{
    font-family: Arial;
  }

  #ex-5e1{
    color: darkorange;
    font-size: small;
    
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
  }

  #ex-5e2{
    font-weight: bold;
    font-size:20px;
     
    margin-top: 1rem;
     justify-content: center;
    text-align: center;
  }

   #ex-5e3{
    font-weight: bold;
    font-size: 40px;
     justify-content: center;
    text-align: center;
    margin-top: 1rem;
   }

    #ex-5e4{
     justify-content: center;
    text-align: center;
    margin-top: 1rem;
    }

      #ex-5e5{
    background-color:#306fdb;
    line-height: 15px;
    margin-top: 1rem;
    color:white;
    font-size: 22px;
    cursor: pointer;
    padding-bottom:15px;
    padding-right:25px;
    padding-left:25px;
    padding-top:15px;
    border-radius: 20px;
    margin-left: 36rem;
    border: none;
    font-weight: bold;
      }

    .ex-5f{
        margin-top: 2rem;
        justify-content: center;
        text-align: center;
    }

    #ex-5f1a{
         font-size:40px;
         font-weight: bold;
    }
    #ex-5f1b{
        color: grey;
        font-size: 20px;
    }
    #ex-5f2{
        margin-top: 20px;
        color: #3c7e40;
        font-size: 20px;
    }
    #ex-5f3{
        margin-top: 20px;
    }
    #ex-5f3a{
        color: grey;
        font-size: 20px;
        margin-top: 20px;
    }
     #ex-5f3b{
        color: red;
        font-size: 20px;
    } 

    .ex-5g{
         margin-top: 2rem;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        
    }

    #ex-5g1a{
      font-weight: bold;
    }

    #ex-5g1b{
      color: grey;
    }

    #ex-5g3a{
      display: inline;
    color: #4A99E9;
    }
    
   
    

