 *{
    padding: 0;
    margin: 0;
 }
  body{
    font-family:'Montserrat' , sans-serif;
  }
 
 
  
  
  #line-1{
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    
}  #line-2{
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}  
 #underline{
   text-decoration: underline;
 }